*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  color: $white-color;
  font-size: 62.5%;
  @include laptop {
    font-size: 60%;
  }
  @include laptop-md {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background: $main-color;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
