$main-color: #0D181F;
$blue-color: #0FD5FF;
$sidebar-color: #131C25;
$title-color: #656F7F;
$categories-color: #848B9E;
$white-color: #fff;
$tomato-red-color: #EB2F06;
$medium-white-color: darken(#fff, 15%);